{
  "extends": [
    "@antfu/eslint-config-react",
    "@unocss",
    "next",
    "next/core-web-vitals"
  ],
  "rules": {
    "antfu/top-level-function": "off",
    "@typescript-eslint/no-require-imports": "off"
  },
  "overrides": [
    {
      "files": ["*.json"],
      "parser": "jsonc-eslint-parser"
    }
  ]
}
