{
  "extends": [
    "@antfu",
    "next",
    "next/core-web-vitals",
    "plugin:tailwindcss/recommended"
  ],
  "rules": {
    "tailwindcss/classnames-order": "off",
    "antfu/top-level-function": "off",
    "@typescript-eslint/no-require-imports": "off"
  }
}
